.App {
  text-align: center;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 200px;
}
.centrado {
  border: 2px solid rgb(198, 152, 100);
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}
.tabla {
  border-collapse: separate;
  border-spacing: 10px;
}

.cartel {
  margin: auto;
  width: 80%;
  font-size: small;
  background-color: rgb(198, 152, 100);
  margin-top: 80px;
  margin-bottom: -20px;
  border-radius: 8px;
}
.letras {
  color: rgb(252, 252, 252);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.buscador {
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
}
.boton {
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(198, 152, 100);
  color: white;
  height: 30px;
  width: 60px;
  font-size: large;
}
